:root {
  --bg: #121212;
  --text: #ffffff;
  --accent: #7B68EE;
  --hover: #7c68eeb0;
  --active: #282828;
  --card: #181818;
  --border: #333333;

  --font-main: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 10px;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
